.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  /* margin-top: -20px; */
  overflow: hidden;
}

.AppH {
  text-align: center;
  height: 85vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  /* margin-top: -20px; */
  overflow: hidden;
}

.AppM {
  text-align: center;
  height: 100%;
  width: 100vw;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* margin-top: -20px; */
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.bgVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  /* width: 100vw; */
  /* height: 100vh; */
  /* 1519 × 754 */
  width: 1519;
  height: 800;
  z-index: -1;
}

.bgBlack {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vmax;
  height: 100vmax;
  z-index: -1;
}

.logoImg {
  z-index: 10;
  width: 6vmax;
  height: 6vmax;
}

.logoCat {
  width: 4vmax;
  height: 4vmax;
}

.white {
  color: white;
}

.whitegrey {
  color: #FFF9F9;
}

.f-glory {
  font-family: 'Glory', sans-serif;
  font-weight: 700;
}

.f-glory-400 {
  font-family: 'Glory', sans-serif;
  font-weight: 400;
}

.f-barlow-700 {
  font-family: 'Barlow', sans-serif;
  font-weight: 800;  
}

.f-barlow-500 {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
}

.f-barlow-400 {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
}

.f-roboto-400 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400
}

.f-righteous-400 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
}

.fsize-5 {
  font-size: 5vmax;
}

.fsize-4 {
  font-size: 4vmax;
}

.fsize-3 {
  font-size: 3vmax;
}

.fsize-2 {
  font-size: 2vmax;
}

.fsize-1 {
  font-size: 1vmax;
}

.fsize-4h {
  font-size: 4vh;
}

.fsize-3h {
  font-size: 3vh;
}

.fsize-2h {
  font-size: 3vw;
}

.fsize-3w {
  font-size: 3vw;
}

.ta-s {
  text-align: start;
}

.buttonConnectWallet {
  background-color: #EE9919;
  height: 6vh;
  width: 10vw;
  border-radius: 10px;
}
.buttonConnectWallet:hover {
  cursor: pointer;
}

.buttonSocial {
  background: transparent;
  height: 6vh;
  width: 10vw;
  border-radius: 10px;
  border: solid 2px #EE9919
}

.buttonJoin {
  background-color: #EE9919;
  height: 6vh;
  /* width: 10vw; */
  border-radius: 30px;
}

.buttonJoin:hover {
  cursor: pointer;
}

.docsButton:hover {
  cursor: pointer;
}

.arrowButton:hover {
  cursor: pointer;
  
}

.arrowButton:hover path {
  stroke: #EE9919;
}

.leftMenuItem {
  color: rgb(118, 118, 118);
}

.leftMenuItemSelect {
  color: rgb(249, 246, 246);
}

.leftMenuButton:hover .leftMenuItem {
  color: #90aba0;
  cursor: pointer;
}

.border-grey {
  border: solid 1px #4a544d;
}


.border-green {
  border: solid 1px #EE9919;
  color:rgb(112, 76, 182)
}

.input-social {
  /* border-color: #707875; */
  
  background: transparent;
  border-radius: 5px;
  color:aliceblue;
}

.input-social:focus {
  border: solid 1px #EE9919;
}

input {
  outline: none;
}

.h-10 {
  height: 30px;
}

.h-15 {
  height: 5vh;
}

.h-5h {
  height: 5vh;
}

.h-6h {
  height: 6vh;
}

.h-1 {
  height: 8vh;
}

.h-10p {
  height: 5vh;
}

.h-menu {
  height: 40vh;
}

.h-menuH {
  height: 90vh;
}

.position-menuH {
  position: absolute;
  top: 5vh;
}

.bg-slaid {
  background: rgba(60, 60, 60, 0.4);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  border-radius: 12px
}

.bg-slaidM {
  background: #1A1A1A;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.ms-minus {
  margin-left: -3vw;
}

.slaid {
  border-radius: 20px;
  overflow: hidden;
  transform: translateY(50px);
  width: 35vw;
  height: 20vw;
  /* width: 522px;
  height: 301px; */
}

.slaidH {
  border-radius: 20px;
  overflow: hidden;
  transform: translateY(5px);
  width: 35vw;
  height: 20vw;
  /* width: 522px;
  height: 301px; */
}

.slaidnext {
  margin-top: 20vh;
  width: 35vw;
  height: 20vw;
  /* width: 522px;
  height: 301px; */
  /* border-radius: 20px; */
  overflow: hidden;
}

.slaidHide {
  display: none;
}

.slaidAnim {
  padding: 0;
  margin: 0;
  border-radius: 20px;
  /* overflow: hidden; */
  transform: translateY(50px);
  width: 41vw;
  height: 25vw;
  /* width: 522px; */
  /* height: 301px; */
  animation-name: slaidShow;
  animation-duration: 0.5s;
}

.slaidAnimH {
  padding: 0;
  margin: 0;
  border-radius: 20px;
  /* overflow: hidden; */
  transform: translateY(5px);
  width: 41vw;
  height: 25vw;
  /* width: 522px; */
  /* height: 301px; */
  animation-name: slaidShowH;
  animation-duration: 0.5s;
}


@keyframes slaidShow {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes slaidShowH {
  0% {
    transform: translateY(455px);
  }
  100% {
    transform: translateY(5px);
  }
}

/* mobile */

.buttonConnectWalletM {
  background-color: #EE9919;
  height: 6vh;
  width: 25vw;
  border-radius: 10px;
}

.buttonConnectWalletH {
  background-color: #EE9919;
  height: 5vh;
  width: 30vw;
  border-radius: 10px;
}

.buttonCarouselM {
  background-color: transparent;
  border: none;
}

.slaidM {
  
  height: 25vh;
  width: 85vw;
}

.imgslaidM {
  width: 70vw;
  height: 25vh;
}

.ww {
  word-wrap:normal;
}

.nextSlaid {
  position: absolute;
  top: 3vh;
  left: 95vw;
  height: 25vh;
  width: 25vw;
}

.logoImgM {
  z-index: 10;
  width: 8vmax;
  height: 8vmax;
}

.buttonCarouselAinm {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  0% {
    opacity: 1;
    /* visibility: visible; */
  }
  20% {
    opacity: 0;
    /* visibility: hidden; */
  }
  100% {
    opacity: 1;
  }
}

.item1 {
  position: absolute;
  top: 10px;
}

.item2 {
  position: absolute;
  top: 70px;
}

.item3 {
  position: absolute;
  top: 130px;
}

.item4 {
  position: absolute;
  top: 190px;
}

.item5 {
  position: absolute;
  top: 250px;
}

.item6 {
  position: absolute;
  top: 400px;
}

.move1 {
  animation-name: moveUp1;
  animation-duration: 0.4s;
}

.move2 {
  animation-name: moveUp2;
  animation-duration: 0.4s;
}

.move3 {
  animation-name: moveUp3;
  animation-duration: 0.4s;
}

.move4 {
  animation-name: moveUp4;
  animation-duration: 0.4s;
}

.move5 {
  animation-name: moveUp5;
  animation-duration: 0.4s;
}

.move6 {
  animation-name: moveUpH;
  animation-duration: 0.4s;
}

@keyframes moveUp1 {
  0% {
    top: 10px;
  }
  100% {
    top: -50px;
  }
}

@keyframes moveUp2 {
  0% {
    top: 70px;
  }
  100% {
    top: 10px;
  }
}

@keyframes moveUp3 {
  0% {
    top: 130px;
  }
  100% {
    top: 70px;
  }
}

@keyframes moveUp4 {
  0% {
    top: 190px;
  }
  100% {
    top: 130px;
  }
}

@keyframes moveUp5 {
  0% {
    top: 250px;
  }
  100% {
    top: 190px;
  }
}

@keyframes moveUpH {
  0% {
    top: 310px;
  }
  100% {
    top: 250px;
  }
}

/* down */
.moved1 {
  animation-name: moveDown1;
  animation-duration: 0.4s;
}

.moved2 {
  animation-name: moveDown2;
  animation-duration: 0.4s;
}

.moved3 {
  animation-name: moveDown3;
  animation-duration: 0.4s;
}

.moved4 {
  animation-name: moveDown4;
  animation-duration: 0.4s;
}

.moved5 {
  animation-name: moveDown5;
  animation-duration: 0.4s;
}

.moved6 {
  animation-name: moveDownH;
  animation-duration: 0.4s;
}

@keyframes moveDown1 {
  0% {
    top: 10px;
  }
  100% {
    top: 70px;
  }
}

@keyframes moveDown2 {
  0% {
    top: 70px;
  }
  100% {
    top: 130px;
  }
}

@keyframes moveDown3 {
  0% {
    top: 130px;
  }
  100% {
    top: 190px;
  }
}

@keyframes moveDown4 {
  0% {
    top: 190px;
  }
  100% {
    top: 250px;
  }
}

@keyframes moveDown5 {
  0% {
    top: 250px;
  }
  100% {
    top: 310px;
  }
}

@keyframes moveDownH {
  0% {
    top: -50px;
  }
  100% {
    top: 10px;
  }
}

/* more than 1 item animation */
.move1-3 {
  animation-name: moveUp1-3;
  animation-duration: 0.4s;
}

.move1-2 {
  animation-name: moveUp1-2;
  animation-duration: 0.4s;
}

.move1-1 {
  animation-name: moveUp1-1;
  animation-duration: 0.4s;
}

.move2-2 {
  animation-name: moveUp2-2;
  animation-duration: 0.4s;
}

.move2-1 {
  animation-name: moveUp2-1;
  animation-duration: 0.4s;
}

.move20 {
  animation-name: moveUp20;
  animation-duration: 0.4s;
}

.move3-1 {
  animation-name: moveUp3-1;
  animation-duration: 0.4s;
}

.move30 {
  animation-name: moveUp30;
  animation-duration: 0.4s;
}

.move31 {
  animation-name: moveUp31;
  animation-duration: 0.4s;
}

.move40 {
  animation-name: moveUp40;
  animation-duration: 0.4s;
}

.move41 {
  animation-name: moveUp41;
  animation-duration: 0.4s;
}

.move42 {
  animation-name: moveUp42;
  animation-duration: 0.4s;
}

.move51 {
  animation-name: moveUp51;
  animation-duration: 0.4s;
}

.move52 {
  animation-name: moveUp52;
  animation-duration: 0.4s;
}

.move53 {
  animation-name: moveUp53;
  animation-duration: 0.4s;
}

.move62 {
  animation-name: moveUp62;
  animation-duration: 0.4s;
}

.move63 {
  animation-name: moveUp63;
  animation-duration: 0.4s;
}

.move64 {
  animation-name: moveUp64;
  animation-duration: 0.4s;
}

.move73 {
  animation-name: moveUp73;
  animation-duration: 0.4s;
}

.move74 {
  animation-name: moveUp74;
  animation-duration: 0.4s;
}

.move75 {
  animation-name: moveUp75;
  animation-duration: 0.4s;
}

.move84 {
  animation-name: moveUp84;
  animation-duration: 0.4s;
}

.move85 {
  animation-name: moveUp85;
  animation-duration: 0.4s;
}

.move95 {
  animation-name: moveUp95;
  animation-duration: 0.4s;
}

@keyframes moveUp1-3 {
  0% {
    top: 10px;
  }
  100% {
    top: -230px;
  }
}

@keyframes moveUp1-2 {
  0% {
    top: 10px;
  }
  100% {
    top: -170px;
  }
}

@keyframes moveUp1-1 {
  0% {
    top: 10px;
  }
  100% {
    top: -110px;
  }
}

@keyframes moveUp2-2 {
  0% {
    top: 70px;
  }
  100% {
    top: -170px;
  }
}

@keyframes moveUp2-1 {
  0% {
    top: 70px;
  }
  100% {
    top: -110px;
  }
}

@keyframes moveUp20 {
  0% {
    top: 70px;
  }
  100% {
    top: -50px;
  }
}

@keyframes moveUp3-1 {
  0% {
    top: 130px;
  }
  100% {
    top: -110px;
  }
}

@keyframes moveUp30 {
  0% {
    top: 130px;
  }
  100% {
    top: -50px;
  }
}

@keyframes moveUp31 {
  0% {
    top: 130px;
  }
  100% {
    top: 10px;
  }
}

@keyframes moveUp40 {
  0% {
    top: 190px;
  }
  100% {
    top: -50px;
  }
}

@keyframes moveUp41 {
  0% {
    top: 190px;
  }
  100% {
    top: 10px;
  }
}

@keyframes moveUp42 {
  0% {
    top: 190px;
  }
  100% {
    top: 70px;
  }
}

@keyframes moveUp51 {
  0% {
    top: 250px;
  }
  100% {
    top: 10px;
  }
}

@keyframes moveUp52 {
  0% {
    top: 250px;
  }
  100% {
    top: 70px;
  }
}

@keyframes moveUp53 {
  0% {
    top: 250px;
  }
  100% {
    top: 130px;
  }
}

@keyframes moveUp62 {
  0% {
    top: 310px;
  }
  100% {
    top: 70px;
  }
}

@keyframes moveUp63 {
  0% {
    top: 310px;
  }
  100% {
    top: 130px;
  }
}

@keyframes moveUp64 {
  0% {
    top: 310px;
  }
  100% {
    top: 190px;
  }
}

@keyframes moveUp73 {
  0% {
    top: 370px;
  }
  100% {
    top: 130px;
  }
}

@keyframes moveUp74 {
  0% {
    top: 370px;
  }
  100% {
    top: 190px;
  }
}

@keyframes moveUp75 {
  0% {
    top: 370px;
  }
  100% {
    top: 250px;
  }
}

@keyframes moveUp84 {
  0% {
    top: 430px;
  }
  100% {
    top: 190px;
  }
}

@keyframes moveUp85 {
  0% {
    top: 430px;
  }
  100% {
    top: 250px;
  }
}

@keyframes moveUp95 {
  0% {
    top: 490px;
  }
  100% {
    top: 250px;
  }
}